#Accordion{
  height: 100vh;
  background-color: #4b145b;
  display: grid;
  place-content: center;
  color:#102a42;
}

.main{
  max-width: 920px;
  width: 90vw;
  margin: 5rem auto;
  background-color: white;
  padding: 2.5rem 2rem;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
}

.main__title{
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 2px;
  width: 30%;
  font-weight: 600;
}

.main__questions{
  flex: 1;  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.question{
  color: var(--primary-1);
  width: 100%;
  padding: 1.2rem;
  
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  
  box-shadow: var(--dark-shadow);
  border: 2px solid #eae6eb;
  border-radius: .25rem ;
}

.question__title{
  display: flex;
  align-items: center;
}

.title__describe{
  flex: 1;
}

.title__button{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  border: none;
  border-radius: 50%;

  background-color: #eae6eb;
  color: #b4345c;
  font-size: 1rem;

  cursor: pointer;
}


.question__answer{
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 0;
  color:#102a42;
}

@media screen and (max-width: 990px) {
  .main{
    flex-flow: column nowrap;
  }

  .main__title{
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 756px) {
  .main__title{
    font-size: 1.25rem;
  }

  .question{
    font-size: .875rem;
  }
}