.birthday-main {
  background-color: pink;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 300;
}

.birthday-info {
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  min-width: 25%;
  height: auto;
  box-shadow: 3px 3px 5px black;
}

.clean-btn {
  border: none;
  margin: 0 auto;
  display: block;
  background-color: pink;
  color: #fff;
  width: 100%;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
}